<p>


  <ion-card *ngFor="let tarea of tareaServicioArray">
    <ion-card-title>{{tarea.nombre}}</ion-card-title>
    <ion-card-content>
      <p><strong>Fecha: </strong> Tarea {{tarea.dia}}/{{tarea.mes}}</p>
      <ion-button>+ Ver más detalles</ion-button>
    </ion-card-content>
  </ion-card>

</p>


<ion-fab slot="fixed" vertical="bottom" horizontal="end">
  <ion-fab-button id="agregarBtn">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-modal trigger="agregarBtn"> 
  <ng-template>
    <p>Agregar tarea</p>
    
    <form #agregarTareaForm="ngForm">
      <div>
        <ion-label>Nombre de la tarea: {{tareaNombre}}</ion-label>
        <ion-input required id="tareaNombre" nombre="tareaNombre" [(ngModel)]="nuevaTarea.nombre" name="tareaNombre"></ion-input>
      </div>
      
      <div>
        
        <ion-label>Fecha Dia: </ion-label>
        <ion-select>
          <ion-select-option value="Mayo">Mayo</ion-select-option>
          <ion-select-option value="Junio">Junio</ion-select-option>
          <ion-select-option value="Julio">Julio</ion-select-option>
        </ion-select>
        
      </div>
      
      <div>
        
        <ion-label>Fecha Mes: </ion-label>
        <ion-select>
          <ion-select-option value="2024">2024</ion-select-option>
          <ion-select-option value="2025">2025</ion-select-option>
        </ion-select>
        
      </div>
      
      <div>
        <ion-label>Descripcion de la tarea:</ion-label>
        <ion-input name="descripcionTarea" required id="descripcionTarea" [(ngModel)]="nuevaTarea.descripcion"></ion-input>
      </div>
      
      <ion-button [disabled]="!agregarTareaForm.valid" (click)="submit()" class="submit">Agregar tarea</ion-button>
    </form>
  </ng-template>
</ion-modal>