.tareaSelector{
    border: 5px solid;
    margin: auto;
    width: 50%;
    height: 90%;
    padding: 10px;
    font-weight: bolder;
}
.fecha{
    display: flex;
    padding-bottom:15% ;
}
.selectores{
    padding-left: 20%;
    padding-right: 20%;
}
.elemento{
    padding-bottom: 5%;
}